@keyframes selectionArrow {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-4px);
    }
}

.core {
    fill: transparent;
    transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s;
}

.card__icon-button:active .core {
    fill: var(--filling-color);
    transition: fill 0.3s;
}

.like-icon.is-liked .core {
    fill: var(--filling-color);
    transition: fill 0.3s;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.05s;
}

.card__icon-button:active .main-body {
    fill: var(--filling-color);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
    fill: var(--filling-color);
    transition: fill 0.3s 0.05s;
}

.contour {
    transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
    fill: var(--filling-color);
    transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
    animation: heartScale 0.3s ease-in 0.1s 2 alternate;
    transform-origin: center;
}

@keyframes heartScale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.sparks {
    opacity: 0;
}

.like-icon.is-liked .sparks {
    animation: sparksScale 0.3s ease-in 0.3s 2 alternate;
    transform-origin: center;
}

@keyframes sparksScale {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
