/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.width-container {
    max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    margin: auto;
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font, Arial);
    font-variation-settings: "wght" var(--weight-font-text);
    background-color: var(--background-color);
    color: var(--accent-color);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-block-start: 100px;
    padding-block-end: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--pixel-font, Arial);
    background-color: var(--background-color);
    border: var(--border);
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 25px;
    text-transform: uppercase;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.header__logo:focus {
    outline: none;
    opacity: 0.6;
}

.header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin: 20px 0 25px;
}

.header__theme-menu {
    position: relative;
    inset-inline-start: 9px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.theme-menu__item {
    font-size: 14px;
}

.theme-menu__button {
    position: relative;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: inherit;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
}

.theme-menu__button::after {
    content: "";
    display: block;
    position: absolute;
    inset-block-end: -3px;
    inset-inline-start: 0;
    block-size: 2px;
    inline-size: 100%;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}

.theme-menu__button:hover {
    opacity: 0.6;
}

.theme-menu__button:disabled {
    opacity: 0.6;
    position: relative;
    pointer-events: none;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    inset-inline-start: -20px;
    animation: selectionArrow 0.5s ease-in-out infinite alternate;
}

@keyframes selectionArrow {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-4px);
    }
}

.main_margin {
    margin-block-start: 100px;
    margin-block-end: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    background-color: var(--background-color);
    border: var(--border);
}

.card__title {
    padding: 6px 10px;
    font-size: 18px;
    font-variation-settings: "wght" var(--weight-font-title);
}

.card__container-img {
    position: relative;
}

.card__label {
    position: absolute;
    inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
    inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
    font-family: var(--pixel-font);
    font-size: 14px;
    opacity: 0.5;
    mix-blend-mode: hard-light;
}

.card__label {
    text-shadow: -1px 0 var(--border-label), 0 1px var(--border-label), 1px 0 var(--border-label), 0 -1px var(--border-label);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    .card__label {
        -webkit-text-stroke: 1px var(--border-label);
        text-stroke: 1px var(--border-label);
        text-shadow: none;
    }
}

.card__image {
    width: 100%;
    outline: var(--border);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.card__text {
    font-size: 18px;
    line-height: 1.16667;
}

.card__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.button,
.card__icon-button {
    background: none;
    cursor: pointer;
    border: none;
}

.card__icon-button {
    block-size: 34px;
    transition: outline 0.3s ease;
    outline: 2px transparent solid;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    outline: var(--border);
}

.card__like-button {
    inline-size: 130px;
    padding: 10px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--pixel-font);
  font-size: 14px;
  background-color: var(--background-color);
  border: var(--border);
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s;
}

.button:focus {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::after {
    content: "";
    block-size: 100%;
    inline-size: 100%;
    background-color: var(--accent-color);
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.button:hover::after {
    transform: scaleX(1);
}

.core {
    fill: transparent;
    transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
    fill: var(--filling-color);
    transition: fill 0.3s;
}

.card__icon-button:active .main-body {
    fill: var(--filling-color);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--filling-color);
    transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
    fill: var(--filling-color);
    transition: fill 0.3s 0.05s;
}

.contour {
    transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
    fill: var(--filling-color);
    transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart{
    animation: heartScale 0.3s ease-in 0.1s 2 alternate;
    transform-origin: center;
}

@keyframes heartScale {
    from{
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
}

.sparks {
    opacity: 0;
}

.like-icon.is-liked .sparks{
    animation: sparksScale 0.3s ease-in 0.3s 2 alternate;
    transform-origin: center;
}

@keyframes sparksScale {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.button__text {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
    color: var(--difference-color);
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__button-save {
    flex-wrap: wrap;
    gap: 8px;
    padding: 15px 20px;
}

.footer__button-save-icon {
    position: relative;
    z-index: 2;
    inline-size: 21px;
    mix-blend-mode: difference;
    color: var(--difference-color);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--background-color);
  color: var(--accent-color);
  padding: 30px;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  border: var(--border);
  max-width: none;
}

.modal::backdrop {
    background-color: #000;
    opacity: 0.75;
} 

.modal__container{
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: min-content 1fr;
}

.modal__container > .footer__button-save-icon{
    inline-size: 39px;
}

.modal__text {
    font-family: var(--pixel-font, Arial);
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
}

.modal__close-button{
  block-size: 38px;
  inline-size: 100%;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
}

@media (width <= 375px) {
    .footer__button-save {
        max-inline-size: 310px;
    }

    .footer__button-save-icon {
        inline-size: 28px;
    }

    .modal[open] {
      padding: 30px 40px;
    }
}
