.container-size {
    inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    max-inline-size: 700px;
    margin: auto;
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--primary-font, sans-serif);
    font-variation-settings: "wght" var(--weight-font-text);
    background-color: var(--background-color);
    color: var(--accent-color);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-block-start: 100px;
    padding-block-end: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--accent-font, fantasy);
    background-color: var(--background-color);
    border: var(--border);
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 25px;
    text-transform: uppercase;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.header__logo:focus {
    outline: none;
}

.header__logo:focus-visible,
.header__logo:hover {
    opacity: 0.6;
}

.header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin: 20px 0 25px;
}

.header__theme-menu {
    position: relative;
    inset-inline-start: 9px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.theme-menu__item {
    font-size: var(--minor-font-size);
}

.theme-menu__button {
    position: relative;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: inherit;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
}

.theme-menu__button::after {
    content: "";
    display: block;
    position: absolute;
    inset-block-end: -3px;
    inset-inline-start: 0;
    block-size: 2px;
    inline-size: 100%;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}

.theme-menu__button:hover {
    opacity: 0.6;
}

.theme-menu__button:disabled {
    opacity: 0.6;
    position: relative;
    pointer-events: none;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    inset-inline-start: -20px;
    animation: selectionArrow 0.5s ease-in-out infinite alternate;
}

.main_margin {
    margin-block-start: 100px;
}

.main {
    display: grid;
    justify-items: center;
    gap: 50px;
}

.card {
    background-color: var(--background-color);
    border: var(--border);
}

.card__title {
    padding: 6px 10px;
    font-size: var(--main-font-size);
    font-variation-settings: "wght" var(--weight-font-title);
}

.card__container-img {
    position: relative;
}

.card__container-img:has(.card__image-programmer) {
    overflow: hidden;
}

.card__label {
    position: absolute;
    inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
    inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
    font-family: var(--accent-font, fantasy);
    font-size: var(--minor-font-size);
    opacity: 0.5;
    mix-blend-mode: hard-light;
    text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
    z-index: 2;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    .card__label {
        -webkit-text-stroke: 1px var(--background-color);
        text-stroke: 1px var(--background-color);
        text-shadow: none;
    }
}

.card__image-interesting {
    filter: brightness(200%);
}

.card__image-working {
    filter: sepia(80%);
}

.card__image-programmer {
    filter: blur(0.2rem);
}

.card__image-support {
    filter: saturate(200%);
}

.card__image-concentration {
    filter: grayscale(1);
}

.card__image-works-hard {
    filter: hue-rotate(-90deg) contrast(2) brightness(200%);
}

.card__image-cool-programmer {
    filter: contrast(200%);
}

.card__image {
    inline-size: 100%;
    outline: var(--border);
    vertical-align: bottom;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-size: var(--main-font-size);
    line-height: 1.16667;
}

.card__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--accent-font, fantasy);
    font-size: var(--minor-font-size);
    background-color: var(--background-color);
    border: var(--border);
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.3s;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::after {
    content: "";
    block-size: 100%;
    inline-size: 100%;
    background-color: var(--accent-color);
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.button:hover::after {
    transform: scaleX(1);
}

.card__icon-button {
    block-size: 34px;
    background: none;
    cursor: pointer;
    border: none;
    transition: outline 0.3s ease;
    outline: 2px transparent solid;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    outline: var(--border);
}

.card__like-button {
    inline-size: 130px;
    padding: 10px 0;
}

.button__text {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
    color: var(--difference-color);
}

.main__button-save {
    flex-wrap: wrap;
    gap: 8px;
    padding: 15px 20px;
}

.main__diskette-icon {
    z-index: 2;
    inline-size: 21px;
    mix-blend-mode: difference;
    color: var(--difference-color);
}

.modal[open] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 30px;
    inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
    border: var(--border);
}

.modal::backdrop {
    background-color: #000;
    opacity: 0.75;
}

.modal__container {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: min-content 1fr;
}

.modal__diskette-icon {
    inline-size: 39px;
}

.modal__text {
    font-family: var(--accent-font, fantasy);
    font-size: var(--minor-font-size);
    line-height: 1.5;
    text-transform: uppercase;
}

.modal__close-button {
    block-size: 38px;
    inline-size: 100%;
    font-size: var(--minor-font-size);
    color: inherit;
    text-transform: uppercase;
}

@media (width < 376px) {
    .main__button-save {
        max-inline-size: 310px;
    }

    .main__diskette-icon {
        inline-size: 28px;
    }

    .modal[open] {
        outline: var(--border);
        border: none;
        padding: 30px 40px;
    }
}
